:root {
  --global-font-family: 'Ubuntu', sans-serif;
  --global-font-size: 16px;
  --global-font-size-big: 30px;
  --global-font-size-medium: 18px;
  --global-font-size-small: 14px;
  --global-font-size-smaller: 12px;
  --global-primary-font-color: hsl(213, 96%, 18%);
  --global-secondary-font-color: hsl(231, 11%, 63%);
  --global-tertiary-font-color: hsl(229, 24%, 87%);
  --action-background-color: hsl(206, 94%, 87%);
  --body-background-color: hsl(217, 100%, 97%);
  --global-accent-color: hsl(243, 100%, 62%);
  --global-valid-color: hsl(120, 50%, 30%);
  --global-invalid-color: hsl(354, 84%, 57%);
  --global-tertiary-color: hsl(0, 0%, 100%);
  --main-section-background-color: hsl(0, 0%, 100%);
  --Alabaster: hsl(231, 100%, 99%);

  --primary-border-radius: 13px;
  --secondary-border-radius: 10px;
  --tertiary-border-radius: 5px;
}
