:root {
  --global-font-family: 'Ubuntu', sans-serif;
  --global-font-size: 16px;
  --global-font-size-big: 30px;
  --global-font-size-medium: 18px;
  --global-font-size-small: 14px;
  --global-primary-font-color: hsl(213, 96%, 18%);
  --global-secondary-font-color: hsl(231, 11%, 63%);
  --global-tertiary-font-color: hsl(229, 24%, 87%);
  --action-background-color: hsl(206, 94%, 87%);
  --body-background-color: hsl(217, 100%, 97%);
  --global-accent-color: hsl(228, 45%, 44%);
  --global-valid-color: hsl(120, 50%, 30%);
  --global-invalid-color: hsl(354, 84%, 57%);
  /* --global-secondary-color: hsl(231, 11%, 63%); */
  --global-tertiary-color: hsl(0, 0%, 100%);

  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  --primary-border-radius: 13px;
  --secondary-border-radius: 10px;
  --tertiary-border-radius: 5px;

  --main-section-background-color: hsl(0, 0%, 100%);
}
